<!DOCTYPE html>
<html>
<head>
<#include "/WEB-INF/views/include/meta.html"/>
<title>广告图片管理</title>
<link rel="stylesheet" type="text/css" href="${ctx}/resource/plugin/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/user/admin/admin.css" />
</head>
<body>
	<div class="container-fluid">
		<header>
			<h4>广告图片列表 </h4>
		</header>
		<div class="search">
			<form id="queryForm" action="" method="post" class="form-inline">
				<input type="hidden" id="currentPage" name="currentPage" value="${currentPage!}"/>
				<input type="hidden" id="pageRows" name="pageRows" value="${pageRows!}"/>
				<div class="form-group" >
				    <label>商品名称:</label>
				    <input type="text" name="q_name" value="${(queryMap.q_name)!}" class="form-control" placeholder="商品名称">
			    </div>
			    <div class="form-group my-inline-div">
				    <label>所属广告位:</label>
				    <select name="q_position" class="form-control" required>
				    	<option value="">所有广告位</option>
						<#list position_list! as item>
							<option value="${item.value()}" <#if ((queryMap.q_position)??&&queryMap.q_position==item.value()?string)>selected</#if> >${item.typeName()}</option>
						</#list> 
					</select>
				 </div>
				 <div class="form-group" >
				    <label>是否显示:</label>
				    <select name="q_show" class="form-control" required>
				    	<option value="">所有状态</option>
						<option value="0" <#if ((queryMap.q_show)??&&queryMap.q_show=='0')>selected</#if> >否</option>
						<option value="1" <#if ((queryMap.q_show)??&&queryMap.q_show=='1')>selected</#if> >是</option>
					</select>
			    </div>
			    <div class="form-group" >
				    <label>排序方式:</label>
				    <select name="q_orderType" class="form-control" required>
				    	<option value="">请选择</option>
						<option value="asc" <#if ((queryMap.q_orderType)??&&queryMap.q_orderType=='asc')>selected</#if> >序号升序</option>
						<option value="desc" <#if ((queryMap.q_orderType)??&&queryMap.q_orderType=='desc')>selected</#if> >序号降序</option>
					</select>
			    </div>
				<button type="button" class="btn btn-primary" onclick="common.query()"><span class="glyphicon glyphicon-search"></span></button>
			</form>
		</div>
		<section>
			<div class="div-handle">
				<a href="${ctx}/admin/advertisement_photo_add" class="btn btn-primary btn-sm" >新增</a>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>图片名称</th>
						<th>所属广告位</th>
						<th>显示序号</th>
						<th>链接URL</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
					<#list (pageObj.resultList)! as obj>
					<tr>
						<td>${(obj.name)!}</td>
						<td>${(obj.parsePosition())!}</td>
						<td>${(obj.sequence)!}</td>
						<td>${(obj.url)!}</td>
						<td>
							<a href="${ctx}/admin/advertisement_photo_add?obj_id=${obj.id}" class="btn btn-primary btn-xs" >编辑</a>
						</td>
						<td>
							<button type="button" class="btn btn-danger btn-xs" 
								onclick="common.delete_obj_by_id('${ctx}/admin/advertisement_photo_delete','${obj.id}')">删除</button>
						</td>
					</tr>
					</#list>
				</tbody>
			</table>
			<div id="pagingNode">
			</div>
		</section>
	</div>
</body>
<script type="text/javascript">
	var _ctx = '${ctx}';
</script>
<script type="text/javascript" src="${ctx}/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="${ctx}/resource/js/require-config.js"></script>
<script>
	require(['user/../../common/common'],function(Common){
		var c = new Common();
		var cssConfg = {
				page_word_skip_btn_c:'btn btn-primary btn-xs',
				page_number_wrap_c:'pagination',
				page_current_c:'active',
		}
		c.paging('${(pageObj.currentPage)!}', '${(pageObj.pageRows)!}', '${(pageObj.totalPages)!}', '${(pageObj.totalRows)!}', {}, cssConfg);
		window.common = c;
	});
</script>
</html>