@CHARSET "UTF-8";
/* reset start */
*{
	margin: 0;
	padding: 0;
}

html,body{
	width:100%;
	height:100%;
}

ul li{
	list-style: none;
}

a{
	text-decoration: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img, abbr{
    border: 0;
}

input[type=button], button{
  outline: none;
}

button{
  cursor: pointer;
}
/* reset end */

/* util start */
.clear{
	clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden
}

.clearfix{
	*+height:1%;
	zoom:1; /* for ie6 & ie7 */
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.hide{
    display:none;
}

.block{
    display:block;
}
.inline-block{
	display: inline-block;
}
.fl{
    float:left;
}

.fr{
    float:right;
}
.relative{
	position: relative;
}
.wrap-center {
  float: left; /* 自适应内容宽度 */
  position: relative;
  left: 50%; 
}
.wrap-center .wrap-center-inner {
  position: relative;
  left: -50%; 
}
.div-center{
	display:absolute;
	left:50%;
	top:50%;
	margin-left:-width/2;  /*负向偏移宽度的一半，如果width不定，需要动态获取。*/
	margin-top:-height/2;  /*原理同上。*/
}
.text-limit-length {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; /* 文本不换行，这样超出一行的部分被截取，显示... */ 

}
.width-150{
	width:150px;
}
.width-100{
	width:100px;
}
.form-inline .width-150{
	width:150px;
}
/* util end */