@CHARSET "UTF-8";

/* 登录相关  start */
.div-login-register{
	border: 1px solid #666666;
	border-radius:5px;
	padding:10px;
}
a{
	color:#56a031;
}
a:hover{
	color:#7ccd39;
}
.text-green{
	color:#56a031
}
.bg-green{
	background-color: #7ccd39;
}
/* 登录相关  end */

@media (min-width: 1360px){
	.container {
	    width: 1200px;
	}
}

/* 顶部相关  start */
#top{
	background-color: #fafafa;
	height:30px;
	line-height: 30px;
}
/* 顶部相关  end */

/* 头部相关  start */
#header{
	height:100px;
}
.shopping-cart .icon-cart .word{
	font-size:16px;
}
.shopping-cart .icon-cart .goods-item-detail{
	display: none;
	font-size:16px;
	position: absolute;
	top:100px;
	left:-120px;
	z-index:2;
	background-color: #ffffff;
}
.shopping-cart .icon-cart:hover .goods-item-detail{
	display: block;
	border:1px solid #9dcd17;
}
.goods-item-detail .cart-goods-item-ul>li{
	border-bottom:1px solid #9dcd17;
}

/* 头部相关  end */

#main{
	width:100%;
}

/* 底部关  start */
#footer{
	width:100%;
	margin-bottom:0;
	bottom:0;
}
#footer .friendly-link{
	margin:0 auto;
}
/* #footer ul.friendly-link>li:not(:first-child){
	border-left:1px solid #56a031;
} */
/* 底部关  end */


/* 首页相关   start */
.banner{
	height:400px;
	width:100%;
	position: relative;
	overflow: hidden;
}
.banner ul.image{
	height: 100%;
	position: absolute;
	left: 0;
}
.banner ul.image li{
	height:inherit;
	float:left;
}
.banner ul.image li a{
	width:100%;
	height:inherit;
	display:block;
	background-position: center; 
	background-repeat: no-repeat;
	text-align: center;
}
.banner .circle{
	position: absolute;
	bottom:10px;
	z-index:1;
	width:100%;
}
.banner .circle ul{
	text-align: center;
}
.banner .circle ul li{
	width:20px;
	height:20px;
	display:inline-block;
	border-radius: 50%;
	border: 1px solid #F8a768;
	margin:0 5px;
	cursor: pointer;
}
.banner .circle ul li:hover{
	background-color: #F8a768;
}
.banner .circle ul li.active{
	background-color: #F8a768;
}

/* 首页相关   end */

/* 商品详情相关  start */
.photo .photo-main{
	width:500px;
}
.photo .photo-list>ul>li{
	width:100px;
}
/* 商品详情相关  start */