<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="wrap-center">
				<ul class="list-inline wrap-center-inner friendly-link">
					<li>
						友情链接：
					</li>
					<li>
						<a href="http://www.fruitday.com" target="_blank">天天果园</a>
					</li>
					<li>
						<a href="http://www.yiguo.com" target="_blank">易果生鲜</a>
					</li>
					<li>
						<a href="http://www.xianguozhijia.com" target="_blank">鲜果之家</a>
					</li>
					<li>
						<a href="http://www.grhao.com" target="_blank">果然好</a>
					</li>
					<li>
						<a href="http://www.womai.com" target="_blank">我买网</a>
					</li>
					<li>
						<a href="http://www.taobao.com" target="_blank">淘宝网</a>
					</li>
				</ul>	
			</div>
		</div>
		<div class="row">
			<div class="copyright text-center">
				<span>Copyright &copy 2017 Hanson(刘汉升)版权所有</span>
			</div>
		</div>
	</div>
</footer>