<!DOCTYPE html>
<html>
<head>
<#include "/WEB-INF/views/include/meta.html"/>
<title>商品详情页</title>
<link rel="stylesheet" type="text/css" href="${ctx}/resource/plugin/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/web/index.css" />
<style>
	div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
	div.zoomMask{position:absolute;background:url("${ctx}/resource/plugin/imagezoom/images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}
</style>
</head>
<body class="relative">
	<@include_page path="/top"/>
	<@include_page path="/header" />
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="photo photo_">
					<div class="photo-main photo_main">
						<img src="${ctx}/${(obj.main_photo.path)!}/${(obj.main_photo.name)!}" class="img-responsive jqzoom" rel="${ctx}/${(obj.main_photo.path)!}/${(obj.main_photo.name)!}"/>
					</div>
					<div class="photo-list photo_list">
						<ul class="list-inline">
							<li class="active">
								<img src="${ctx}/${(obj.main_photo.path)!}/${(obj.main_photo.name)!}" class="img-responsive"/>
							</li>
							<#list (obj.getPhoto_list5())! as item>
							<li>
								<img src="${ctx}/${(item.path)!}/${(item.name)!}" class="img-responsive"/>
							</li>
							</#list>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6" style="margin-left:-30px;">
				<section class="section-goods-info section_goods_info" goods_id="${(obj.id)!}">
					<div class="row clearfix" style="margin-bottom:20px;">
						<h3>${(obj.name)!}</h3>
					</div>
					<div class="row">
						<div class="width-100 inline-block">
							<#if obj.activity_status == ActivityStatus.group>团购价：<#else>现价：</#if>
						</div>
						<div class="inline-block">
							<span class="price">￥${(obj.price)!}</span>
						</div>
						<div class="inline-block" style="margin-left:30px;">
							<#if obj.activity_status == ActivityStatus.group>
								<span class="group-over group_over" end_time="${(obj.group.end_time?string('yyyy-MM-dd HH:mm:ss'))!}">
								距离结束还有：<span class="count_down"></span>
								</span>
							</#if>
						</div>
					</div>
					<#if obj.activity_status == ActivityStatus.group>
					<div class="row">
						<div class="width-100 inline-block">
							成团目标：
						</div>
						<div class="inline-block">
							${(obj.group_count)!} 份
							<span style="margin-left:30px;">
								<#if (obj.group_sold_count>=obj.group_count) >
									已抱团成功，快加入我们吧
								<#else>
									还差${obj.group_count-obj.group_sold_count}份即可抱团，助我一臂之力吧
								</#if>
							</span>
						</div>
					</div>
					</#if>
					<div class="row">
						<div class="width-100 inline-block">
							原价：
						</div>
						<div class="inline-block">
							<span class="original-price" style="text-decoration: line-through;">￥${(obj.original_price)!}</span>
						</div>
					</div>
					<div class="row">
						<div class="width-100 inline-block">
							单位：
						</div>
						<div class="inline-block">
							${(obj.unit)!}
						</div>
					</div>
					<div class="row">
						<div class="width-100 inline-block">
							数量：
						</div>
						<div class="width-150 inline-block item_count" style="vertical-align:middle;">
							<div class="input-group input-group-sm" >
								<span class="input-group-addon btn_change_count" type="subtract" style="cursor: pointer;">-</span> 
								<input type="text" class="form-control inp_count" value="${(item.count)!1}" style="text-align: center;">
								<span class="input-group-addon btn_change_count" type="add" style="cursor: pointer;">+</span>
							</div>
						</div>
					</div>
					<div>
						<button type="button" class="btn btn-success width-150 btn_add_cart" >加入购物车</button>
						<button type="button" class="btn btn-success width-150 btn_buy_now">立即购买</button>
					</div>
				</section>
			</div>
		</div>
		<div class="row" style="margin-top:50px;">
			<div class="col-sm-3">
				<aside class="random-goods-list">
					<div class="title">
						随机推荐
					</div>
					<div class="content">
						<ul>
							<#list random_goods_list! as item>
							<li>
								<div class="img fl">
									<a href="${ctx}/goods_detail?obj_id=${(item.id)!}">
										<img src="${ctx}/${(item.main_photo.path)!}/${(item.main_photo.name)!}" width="70"/>
									</a>
								</div>
								<div class="txt fl" style="width:160px;margin-left:5px;">
									<a href="${ctx}/goods_detail?obj_id=${(item.id)!}">
										<span>${(item.name)!}</span><br>
										<span class="text-price-color">￥${(item.price)!}</span>
									</a>
								</div>
							</li>
							</#list>
						</ul>
					</div>
				</aside>
			</div>
			<div class="col-sm-9">
				<section class="goods-description">
					<div class="title">
						<div class="txt">商品详情</div>
					</div>
					<article class="description">
						${(obj.description_html)!}
					</article>
				</section>
			</div>
		</div>
	</div>
	<@include_page path="/footer" />
</body>
<script type="text/javascript">
	var _ctx = '${ctx}';
</script>
<script type="text/javascript" src="${ctx}/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="${ctx}/resource/js/require-config.js"></script>
<script>
	require(['./web/goods_detail'],function(page){
		var p = new page();
		p.main();
	});
</script>
</html>