<header id="header" class="header" style="margin:5px 0;">
	<div class="container" style="height:100px;">
		<div class="row">
			<div class="col-sm-3" style="padding-left:0px">
				<div class="logo">
					<a href="${ctx}/index"><img src="${ctx}/${(logo.acc.path)!}/${(logo.acc.name)!}" class="img-responsive" alt="logo"></a>
				</div>
			</div>
			<div class="col-sm-6">
				<form action="${ctx}/search" method="post">
					<div id="search" class="input-group search" style="margin-top:30px;">
					<input type="text" name="q_name" value="${(queryMap.q_name)!}" class="form-control inp_search" placeholder="搜索你想要查找的内容">
					<span class="input-group-btn">
						<button class="btn btn-info btn-search" type="submit">
							<span class="glyphicon glyphicon-search"> </span>
						</button>
					</span>
				</div>
				</form>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="shopping-cart shopping_cart">
					<@include_page path="/shopping_cart" />
				</div>
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
</header>