<header id="header" class="header">
	<div class="container">
		<div class="col-sm-3">
			<div class="logo">
				<a href="${ctx}/index"><img src="${ctx}/logo"/ alt="logo"></a>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group search">
			  <input type="text" class="form-control" placeholder="搜索你想要查找的内容" >
			  <span class="input-group-btn" >
			  	  <button class="btn btn-info btn-search"><span class="glyphicon glyphicon-search"> </span></button>
			  </span>
			</div>
		</div>
		<div class="col-sm-2">
		
		</div>
	</div>
</header>