<!DOCTYPE html>
<html>
<head>
<#include "/WEB-INF/views/include/meta.html"/>
<#include "/WEB-INF/views/include/macro.html"/>
<title>首页</title>
<link rel="stylesheet" type="text/css" href="${ctx}/resource/plugin/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/web/index.css" />
<style type="text/css">
	
</style>
</head>
<body style="overflow-y:auto">
	<#--
	hello,freemarker   ${ctx} ${user!}<br/>
	${util.getClasspath()}<br/>   <#assign time = '2017-05-21'>
	${util.formatShortDateStr(time)?string('yyyy-MM-dd HH:mm:ss')}<br/> 
	${req.requestURL}<br/>
	${util.getWebPath(req)}
	-->
	<@include_page path="/top" />
	<@include_page path="/header" />
	<div id="main">
		<section>
			<div class="banner banner_">
				<ul class="image">
					<#list index_slide_list! as item>
					<li>
						<a href="${(item.url)!}" style="background-image: url('${ctx}/${(item.acc.path)!}/${(item.acc.name)!}')"></a>
					</li>
					</#list>
				</ul>
				<div class="circle">
					<ul>
						<#list index_slide_list! as item>
							<#if item_index==0>
								<li class="active"></li>
							<#else>
								<li></li>
							</#if>
						</#list>
					</ul>
				</div>
			</div>
		</section>
		<div class="container">
			<section class="floor">
				<div class="floor-title">最新推荐</div>
				<div class="floor-content">
					<ul class="list-inline">
						<@floor_list new_goods_list! />
					</ul>
				</div>
			</section>
		</div>
	</div>
	
	<div class="container-fluid">
		
	</div>
	<footer>
	
	</footer>
</body>
<script type="text/javascript">
	var _ctx = '${ctx}';
</script>
<script type="text/javascript" src="${ctx}/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="${ctx}/resource/js/require-config.js"></script>
<script>
	require(['./web/index'],function(page){
		var p = new page();
		p.main();
	});
</script>
</html>