<!DOCTYPE html>
<html>
<head>
<#include "/WEB-INF/views/include/meta.html"/>
<#include "/WEB-INF/views/include/macro.html"/>
<title>首页</title>
<link rel="stylesheet" type="text/css" href="${ctx}/resource/plugin/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/web/index.css" />
</head>
<body style="overflow-y:auto">
	<#--
	hello,freemarker   ${ctx} ${user!}<br/>
	${util.getClasspath()}<br/>   <#assign time = '2017-05-21'>
	${util.formatShortDateStr(time)?string('yyyy-MM-dd HH:mm:ss')}<br/> 
	${req.requestURL}<br/>
	${util.getWebPath(req)}
	-->
	<@include_page path="/top" />
	<@include_page path="/header" />
	<div id="main">
		<section>
			<div class="banner banner_">
				<ul class="image">
					<#list index_slide_list! as item>
					<li>
						<a href="${(item.url)!}" style="background-image: url('${ctx}/${(item.acc.path)!}/${(item.acc.name)!}')"></a>
					</li>
					</#list>
				</ul>
				<div class="circle">
					<ul>
						<#list index_slide_list! as item>
							<#if item_index==0>
								<li class="active"></li>
							<#else>
								<li></li>
							</#if>
						</#list>
					</ul>
				</div>
			</div>
		</section>
		<div class="container" style="padding:0;">
			<section class="floor">
				<div class="floor-title">
					<div class="more"><a href="" >更多 <i class="icon iconfont icon-zuixin"></i></a></div>
					<h4><i class="icon iconfont icon-zuixin"> </i>最新推荐</h4>
				</div>
				<div class="floor-content">
					<@floor_list new_goods_list! />
				</div>
			</section>
			<section class="floor">
				<div class="floor-title">
					<div class="more"><a href="" >更多 <i class="icon iconfont icon-icontuan"></i></a></div>
					<h4><i class="icon iconfont icon-icontuan"> </i>团购商品</h4>
				</div>
				<div class="floor-content">
					<@floor_list group_goods_list! />
				</div>
			</section>
			<section class="floor">
				<div class="floor-title">
					<div class="more"><a href="" >更多 <i class="icon iconfont icon-remen"></i></a></div>
					<h4><i class="icon iconfont icon-remen"> </i>热门商品</h4>
				</div>
				<div class="floor-content">
					<@floor_list hot_goods_list! />
				</div>
			</section>
			<section class="floor">
				<div class="floor-title">
					<div class="more"><a href="" >更多 <i class="icon iconfont icon-dianjiabaotuijian"></i></a></div>
					<h4><i class="icon iconfont icon-dianjiabaotuijian"> </i>卖家推荐</h4>
				</div>
				<div class="floor-content">
					<@floor_list recommend_goods_list! />
				</div>
			</section>
		</div>
	</div>
	<@include_page path="/footer" />
</body>
<script type="text/javascript">
	var _ctx = '${ctx}';
</script>
<script type="text/javascript" src="${ctx}/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="${ctx}/resource/js/require-config.js"></script>
<script type="text/javascript">
	require(['common'],function(Common){
		var c = new Common();
		window.common = c;
	});
	require(['./web/index'],function(page){
		var p = new page();
		p.main();
	});
</script>
</html>