<!DOCTYPE html>
<html>
<head>
<#include "/WEB-INF/views/include/meta.html"/>
<#include "/WEB-INF/views/include/macro.html"/>
<title>搜索页面</title>
<link rel="stylesheet" type="text/css" href="${ctx}/resource/plugin/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/resource/css/web/index.css" />
</head>
<body>
	<@include_page path="/top" />
	<@include_page path="/header" />
	<div class="container-fluid" >
		<section class="search-condition search_condition">
			<div class="row condition-activity condition_activity" search_type="group_id">
				活动：<span condition="all" class="select">全部</span><span condition="1" group_id="not_group">非团购</span>
				<#list group_list! as item >
					<span group_id="${(item.id)!}" condition="1">${(item.name)!}</span>
				</#list>
			</div>
			<div class="row condition-goods-class condition_goods_class" search_type="goods_class_id">
				分类：<span condition="all" class="select">全部</span>
				<#list goods_class_list! as item >
					<span goods_class_id="${(item.id)!}" condition="1">${(item.name)!}</span>
				</#list>
			</div>
			<div class="row condition-price condition_price" search_type="price">
				价格：<span condition="all" class="select">全部</span>
					从 <input type="text" name="price_low" value="${(queryMap.q_price_low)!}" class="form-control input-sm inp_price_low"/>
					 - <input type="text" name="price_high" value="${(queryMap.q_price_high)!}" class="form-control input-sm inp_price_high"/> 元
					 <a class="btn btn-success btn-xs btn_condition_price">确定</a>
			</div>
			<div class="row condition-sort condition_sort" search_type="sort">
				排序：<span condition="all" class="select">默认</span><span sort="low_to_high" condition="1">价格从低到高</span><span sort="high_to_low" condition="1">价格从高到低</span>
			</div>
		</section>
	</div>
	<div class="container" style="padding:0;margin-top:30px;">
		<section class="search-result">
			<ul class="list-inline goods-list-many">
			<#list (pageObj.resultList)! as item>
				<li class="goods-item" style="margin-top:5px;margin-bottom:5px;">
					<div class="image">
						<div class="tip-label">
							<#if item.activity_status == ActivityStatus.group>
								<i class="icon iconfont icon-biaoqian"> <span class="txt">团</span></i>
							<#elseif (item.price<item.original_price) >
								<i class="icon iconfont icon-biaoqian"> <span class="txt">省</span></i>
							</#if>
						</div>
						<a href="${ctx}/goods_detail?obj_id=${item.id}">
							<img src="${ctx}/${(item.main_photo.path)!}/${(item.main_photo.name)!}" class="img-responsive"/>
						</a>
						<div class="add-cart" goods_id="${(item.id)!}" onclick="common.add_cart(this);">
							<span><i class="icon iconfont icon-gouwuche"> </i>加入购物车</span>
						</div>
					</div>
					<div class="goods-name text-limit-length">
						<a href="${ctx}/goods_detail?obj_id=${(item.id)!}" title="${(item.name)!}"><span>${(item.name)!}</span></a>
					</div>
					<div class="goods-price">
						<span class="price">￥${(item.price?string("0.00"))!}</span>
						<span class="original-price">￥${(item.original_price?string("0.00"))!}</span>
						<span class="sales-count">已售：${(item.sales_count)!}</span>
					</div>
				</li>
			</#list>
			</ul>
		</section>
		<div id="pagingNode">
		</div>
	</div>
	<@include_page path="/footer" />
</body>
<script type="text/javascript">
	var _ctx = '${ctx}';
</script>
<script type="text/javascript" src="${ctx}/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="${ctx}/resource/js/require-config.js"></script>
<script type="text/javascript">
	require(['common'],function(Common){
		var c = new Common();
		var cssConfg = {
				page_word_skip_btn_c:'btn btn-success btn-xs',
				page_number_wrap_c:'pagination',
				page_current_c:'active',
		}
		var paging_html = c.paging(${(pageObj.currentPage)!0}, ${(pageObj.pageRows)!0}, ${(pageObj.totalPages)!0}, ${(pageObj.totalRows)!0}, '', cssConfg);
		$('#pagingNode').html(paging_html);
		window.common = c;
	});
	require(['./web/search'],function(page){
		var p = new page();
		p.main();
		var queryMap_JSON = '${(queryMap_JSON)!}';
		console.log(queryMap_JSON);
		console.log(JSON.parse(queryMap_JSON));
		p.init_search_condition(JSON.parse(queryMap_JSON));
	});
</script>
</html>